@font-face {
    font-family: Neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: Neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    font-family: Neu;
}

html,
body {
    Width: 100%;
    Height: 100%;
}

#main {
    /* background-color: black; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

#nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000002F;
    border-radius: 50px;
    font-size: 18px;
    position: relative;
    color: #000000bb;
    font-weight: 500;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav2 h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav2 h4 a {
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}

#nav2 h4:hover a {
    color: white;
}


#nav h3 {
    display: none;
}

#center {
    height: 72vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000002F;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 20vw;
    font-size: 1.5vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 75vh;

}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #FE430A);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#hero-3 {
    background: linear-gradient(#FE320A, #FE430A);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }

}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}


.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;

}

#gola {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}


#page2-bottom h1 {
    font-size: 3.5vw;
    width: 50%;
    line-height: 4vw;
}



#bottom-part2 {
    width: 25%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 100;
    margin-top: 1vw;
    font-size: 1vw;
}

#page2 #effect {
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #FE320A, #FE740A);
    top: 58%;
    left: 22%;
    filter: blur(20px);
    animation: anime2 6s infinite ease-in-out alternate;
}

@keyframes anime2 {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%)skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%)skew(-15deg);
    }
}

#golacontainer {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    position: relative;
    top: 7vw;
}

#gola2 {
    height: 0.5vw;
    width: 0.5vw;
    background-color: #FE320A;
    border-radius: 50%;
    margin: 0.5vw;
}

#page2 h5 {
    font-size: 1vw;
    font-weight: 300;
}



#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.elem {
    height: 130px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #0000004F;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}


.elem #overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s
}

.elem:hover #overlay {
    top: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 99;
    border-radius: 10px;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 130vh;
    width: 100vw;
    background-color: #EFEAE3;
    position: relative;
}

#page4con {
    top: 60px;
    left: 20px;
    height: 100vh;
    width: 95vw;
    background-color: black;
    border-radius: 2%;
    position: absolute;
    display: flex;
}



.page4-left {
    padding: 8vw;
}

#line {
    border-left: 1px solid white;
    height: 200px;
    position: relative;
    padding: 0.5vw;
}

.page4-left h1 {
    font-size: 4vw;
    width: 20%;
    color: white;
    position: relative;
    bottom: 10px;
}

.page4-left p {
    color: white;
    width: 60%;
    font-weight: 100;
    margin-top: 2vw;
}


#page4 #right {
    height: 100vh;
    width: 100vw;
}

#right img {
    height: 100vh;
    width: 50vw;
    border-radius: 2%
}

#page5 {
    height: 95vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}


#footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw;

}


#footer-bottom {
    border: 1px solid white;
    height: 1px;
    width: 100%;
    display: flex;
}

#footer-bottom h5 {
    font-size: 1.5vw;
    height: 10px;
    font-weight: 100;
    width: 100%;
    margin-top: 3vw;
    justify-content: space-between;
}



#footer h1 {
    font-size: 23vw;
    z-index: 10;
}

#heroshape2 {
    position: relative;
    height: 50vw;
    width: 46vw;
    right: 0;
    top: 40vh;
    z-index: 10;
}


#hero1 {
    background: linear-gradient(#FE320A, #FE430A);
    height: 50vw;
    width: 40vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#hero2 {
    background: linear-gradient(#FE320A, #FE430A);
    height: 40vw;
    width: 35vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }

}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #0000009A;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}



#full-div1 h1 {
    position: relative;
    font-size: 15vw;
    top: 11vw;
    padding: 0 7vw;
}






@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    #nav {
        padding: 8vw 5vw;
        /* background-color: #EFEAE3; */
    }

    #nav img {
        height: 9vh;
        transition: all ease 0.4s;
    }

    #nav2 {
        display: none;
    }

    #nav h3 {
        display: block;
        padding: 2vw 4vw;
        margin-right: 4vw;
        border: 1px solid #838383;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }


    #center {
        height: 70vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000002F;
        padding: 5vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 7vw;
    }

    #center h1 {
        font-size: 15vw;
        line-height: 13vw;
        text-align: right;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #hero-shape {
        position: absolute;
        height: 76vw;
        width: 66vw;
        right: 0;
        top: 75vh;

    }

    #hero-1 {
        background-color: #FE320A;
        height: 100%;
        width: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(20px);
        position: absolute;
    }

    #hero-2 {
        background: linear-gradient(#FE320A, #FE430A);
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        filter: blur(25px);
        position: absolute;
        animation-name: anime2;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }


    #hero-3 {
        background: linear-gradient(#FE320A, #FE430A);
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        filter: blur(25px);
        position: absolute;
        animation-name: anime1;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }


    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        white-space: nowrap;
        overflow-x: auto;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }


    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    #moving-text h1 {
        font-size: 15vw;
        display: inline-block;

    }

    #gola {
        height: 8vw;
        width: 8vw;
        border-radius: 50%;
        background-color: #FE320A;
        display: inline-block;
        margin: 2vw 2vw;
    }


    #page2-bottom {
        height: 90vh;
        width: 100%;
        padding: 7vw 3vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        flex-direction: column;
    }


    #page2-bottom h1 {
        font-size: 8vw;
        width: 90%;
        line-height: 8vw;
    }



    #bottom-part2 {
        width: 70%;
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 100;
        margin-top: 1vw;
        font-size: 3vw;
    }

    #golacontainer {
        display: flex;
        align-items: center;
        margin-left: 2vw;
        position: relative;
        top: 7vw;
    }

    #gola2 {
        height: 2vw;
        width: 2vw;
        background-color: #FE320A;
        border-radius: 50%;
        margin: 2vw;
    }

    #page2 h5 {
        font-size: 4vw;
        font-weight: 300;
    }


    #page2 #effect {
        height: 60vw;
        width: 60vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #FE320A, #FE740A);
        top: 58%;
        left: 22%;
        filter: blur(20px);
        animation: anime2 6s infinite ease-in-out alternate;
    }

    #page4 {
        height: 130vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        align-items: center;
    }

    #page4con {
        top: 60px;
        height: 100vh;
        width: 85vw;
        background-color: black;
        border-radius: 2%;
        position: absolute;
        display: flex;
        flex-direction: column;
    }



    .page4-left {
        padding: 8vw;
    }

    #line {
        border-left: 1px solid white;
        height: 120px;
        position: relative;
        padding: 0.5vw;
    }

    .page4-left h1 {
        font-size: 10vw;
        width: 20%;
        position: relative;
        bottom: 10px;
    }

    .page4-left p {
        width: 100%;
        font-weight: 100;
        margin-top: 20vw;
    }


    #page4 #right {
        height: 100%;
        width: 100%;
    }

    #right img {
        height: 100%;
        width: 100%;
        border-radius: 2%
    }



    #page5 {
        height: 60vh;
        width: 100%;
        /* background-color: #EFEAE3; */
    }


    #footer {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: black;
        bottom: 0;
        color: white;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 2vw;
        padding-bottom: 20vw;

    }


    #footer-bottom {
        border: 1px solid white;
        height: 1px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #footer-bottom h5 {
        font-size: 5vw;
        height: 10px;
        font-weight: 100;
        width: 100%;
        z-index: 100;
        margin-top: 3vw;
        justify-content: space-between;
    }



    #footer h1 {
        font-size: 23vw;
        z-index: 10;
    }

    #heroshape2 {
        position: relative;
        height: 50vw;
        width: 46vw;
        right: 0;
        top: 40vh;
        z-index: 10;
    }


    #hero1 {
        background: linear-gradient(#FE320A, #FE430A);
        height: 50vw;
        width: 40vw;
        border-radius: 50%;
        filter: blur(25px);
        position: absolute;
        animation-name: anime2;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }


    #hero2 {
        background: linear-gradient(#FE320A, #FE430A);
        height: 40vw;
        width: 35vw;
        border-radius: 50%;
        filter: blur(25px);
        position: absolute;
        animation-name: anime1;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }


}